<section class="position-relative">
  <div id="MainLeftDiv">
    <figure>
      <img
        src="./assets/images/pp.jpg"
        class="w-100 rounded-circle border shadow"
        alt=""
      />
    </figure>
  </div>

  <div id="MainRightDiv">
    <div>
      <h1 class="h5 text-center">Mohamed Kamash</h1>
      <h2 class="h6 text-center">Frontend Developer</h2>
    </div>

    <div
      id="socialContainer"
      class="d-flex justify-content-around ps-5 pe-5 my-2"
    >
      <a href="https://www.linkedin.com/in/mohamed-kamash-57524b2a2/" target="_blank"
        ><i class="fa-brands fa-linkedin text-primary"></i
      ></a>
      <a href="https://github.com/Mohamed-Kamash?tab=repositories" target="_blank"
        ><i class="fa-brands fa-github text-black"></i
      ></a>
      <a href="https://www.instagram.com/mohamed__essam44?igsh=MWR3Ym41ZTY0bHhwbQ==" target="_blank"
        ><i class="fa-brands fa-instagram text-danger"></i
      ></a>
    </div>

    <div class="p-2">
      <div class="row m-0 mb-3 border-bottom pb-1">
        <div
          class="col-2 p-1 d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-mobile-button fs-4 text-black"></i>
        </div>
        <div class="col-10 d-flex align-items-center ps-1">
          <p class="m-0">01284187445</p>
        </div>
      </div>

      <div class="row m-0 border-bottom pb-1">
        <div
          class="col-2 p-1 d-flex justify-content-center align-items-center"
        >
          <i class="fa-solid fa-envelope-open-text fs-4 text-primary"></i>
        </div>
        <div class="col-10 d-flex align-items-center p-1">
          <a href= "mailto: Mohamedes.kamash@gmail.com" class="m-0">Mohamedes.kamash@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="text-center my-3">
      <a class="btn btn-outline-primary fa-bounce fs-6" 
        download="Mohamed Kamash Resume" 
        href="./assets/images/Mohamed Kamash v1.4 Resume.pdf">Resume <i class="fa-solid fa-file-arrow-down text-danger "></i>
      </a>
    </div>
  </div>
</section>
