<section class="position-relative">
  <div id="MainLeftDiv">
    <figure>
      <img
        src="./assets/images/pp.jpg"
        class="w-100 rounded-circle shadow-lg"
        alt=""
      />
    </figure>
  </div>

  <div
    id="MainRightDiv"
    class="d-flex flex-column h-100 justify-content-around align-content-center"
  >
    <div>
      <h1 class="h5 text-center">Mohamed Kamash</h1>
      <h2 class="h6 text-center">Frontend Developer</h2>
    </div>

    <div id="socialContainer" class="d-flex justify-content-around ps-5 pe-5">
      <a
        href="https://www.linkedin.com/in/mohamed-kamash-57524b2a2/"
        target="_blank"
        ><i class="fa-brands fa-linkedin text-primary"></i
      ></a>
      <a
        href="https://github.com/Mohamed-Kamash?tab=repositories"
        target="_blank"
        ><i class="fa-brands fa-github text-black"></i
      ></a>
      <a
        href="https://www.instagram.com/mohamed__essam44?igsh=MWR3Ym41ZTY0bHhwbQ=="
        target="_blank"
        ><i class="fa-brands fa-instagram text-danger"></i
      ></a>
    </div>

    <div>
      <div class="row m-0 mb-3 border-bottom pb-1">
        <div class="col-2 d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-mobile-button fs-4 text-black"></i>
        </div>
        <div class="col-10 d-flex align-items-center p-0">
          <p class="m-0">0128-418-7445</p>
        </div>
      </div>

      <div class="row m-0 border-bottom pb-1">
        <div class="col-2 d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-envelope-open-text fs-4 text-black"></i>
        </div>
        <div class="col-10 d-flex align-items-center p-0 position-relative">
          <p #mytext class="m-0 me-1">Mohamedes.kamash@gmail.com</p>
          <p class="coppied badge" *ngIf="coppied">Coppied !</p>
          <button (click)="copy()" class="btn btn-outline-dark ps-1 pe-1 p-0">
            <i class="fa-regular fa-copy small"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a
        class="btn btn-outline-dark fs-6"
        download="Mohamed Kamash Resume"
        href="./assets/images/Mohamed Kamash v1.4 Resume.pdf"
        >Resume
        <i class="fa-solid fa-file-arrow-down text-danger fa-bounce"></i>
      </a>
    </div>
  </div>
</section>
