@media only screen and (min-width: 0px) and (max-width: 768px) {
  section {
    padding-top: 12px !important;
    display: flex;
  }

  #MainLeftDiv{width: 40%;}
  #MainRightDiv{width: 60%;}

  figure {
    width: 100% !important;
    height: 100%!important;
    position: unset !important;
    display: flex;
    align-items: center!important;

    &::before {
      content: unset !important;
      position: unset !important;
    }
  }

  #socialContainer{
    padding: 0!important;
  }

 
}
// END MEDIA SCREEN

// main section
section {
  padding-top: 100px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

figure {
  width: 50%;
  position: absolute;
  top: -70px;
  left: 25%;
}

figure img {
  position: relative;
}

.row p , a {
  font-size: 13px;
}

a > i:not(.fa-file-arrow-down){
  transition: all 0.5s;
  margin-top: 5px;
  font-size: 30px!important;
  
  &:hover{
  transform: scale(1.5);}

}
