<header>
    <h3 id="tabHeader">About</h3>
</header>
<div>
    <h4 class="text-center">Hi there! <i class="fa-solid fa-hand-peace fa-shake"></i>..</h4>
    <h5>I'm Mohamed Essam Kamash.</h5>
    <!-- <p>a frontend developer with a passion for building user-centric web experiences. with less than 1 year of experience, proficient in HTML, CSS, and JavaScript. I'm also constantly expanding my skillset. . . , diving deep into frameworks like Angular version 2+ up to 17 to create dynamic and interactive interfaces. When I'm not coding, I find inspiration in gaming , which translates into my approach to creating visually appealing UIs. Explore my <a [routerLink]="['/projects']">Projects</a> to see my work in action, or get in touch to discuss how I can help turn your web ideas into reality!</p> -->
    <p>
        a fresh frontend developer who believes in the power of creative collaboration. I bring a blend of technical expertise ( HTML, CSS, JavaScript ) and design thinking to every project. I'm passionate about crafting beautiful and intuitive user experiences, and I love working alongside designers and back-end developers to bring our collective vision to reality. <br> Explore some of my <a [routerLink]="['/projects']">works</a> and see how I can help turn your web ideas into something truly special!
    </p>

    <div class="mt-5">
        <div class="text-center mb-3">        
            <h6>CORE SKILLS</h6>
        </div>
            <div id="skills" class="d-flex justify-content-between align-items-center gap-4 flex-wrap w-75 mx-auto">
                <img src="./assets/images/ng.png" class="pointer" width="55">
                <img src="./assets/images/ts.png" class="pointer" width="40">
                <img src="./assets/images/js.png" class="pointer" width="40">
                <img src="./assets/images/jq.png" class="pointer" width="40">
                <img src="./assets/images/html.png" class="pointer" width="40">
                <img src="./assets/images/css.png" class="pointer" width="40">
                <img src="./assets/images/saas.png" class="pointer" width="40">
                <img src="./assets/images/bs.png" class="pointer" width="40">
                <img src="./assets/images/git.png" class="pointer" width="40">
            </div>
    </div>
</div>
