<header>
  <h3 id="tabHeader">Portfolio</h3>
</header>

<section class="rounded-2 pt-4 position-relative">
  <div id="owl" class="pt-4">
    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">FreshCart E-Commerce App</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>
                  FreshCart is an Ecommerce App Made With Angular 17 as a Graduating Project From Route Academy
                </p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://fresh-cart-ecommerce-app-mu.vercel.app/login" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/FreshCart-Ecommerce-App" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Angular standalone
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/freshcart.png"
                class="w-100 rounded-2"
                alt="freshCart"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Yummy Food API</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>yummy is a website for food recipes using multiple API Data</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/Yumm-Exam-JS/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/Yumm-Exam-JS" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , JQuery , Bootstrap , HTML ,CSS and APIs
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/yummy.png"
                class="w-100 rounded-2"
                alt="Yummy Website"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Welcome To Party</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>simple JQ assignment with route practicing jQuery classes and methods</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/JQ-Party-Assignment-/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/JQ-Party-Assignment-" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , JQuery , Bootstrap , HTML ,CSS
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/party.png"
                class="w-100 rounded-2"
                alt="Party"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      

      




    </owl-carousel-o>
  </div>
</section>
