<header>
  <h3 id="tabHeader">Portfolio</h3>
</header>

<section class="rounded-2 pt-4 position-relative" >
  <div id="owl" class="pt-4">
    <owl-carousel-o [options]="customOptions" >

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">FreshCart E-Commerce App</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>
                  FreshCart is an Ecommerce App Made With Angular 17 as a Graduating Project From Route Academy
                </p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://fresh-cart-ecommerce-app-mu.vercel.app/login" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/FreshCart-Ecommerce-App" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Angular standalone
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/freshcart.png"
                class="w-100 rounded-2"
                alt="freshCart"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Yummy Food API</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>yummy is a website for food recipes using multiple API Data</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/Yumm-Exam-JS/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/Yumm-Exam-JS" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , JQuery , Bootstrap , HTML ,CSS and APIs
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/yummy.png"
                class="w-100 rounded-2"
                alt="Yummy Website"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Welcome To Party</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>simple JQ assignment with route practicing jQuery classes and methods</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/JQ-Party-Assignment-/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/JQ-Party-Assignment-" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , JQuery , Bootstrap , HTML ,CSS
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/party.png"
                class="w-100 rounded-2"
                alt="Party"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">CRUD System</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>Simple CRUD system using native JavaScript & local storge</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/CRUD-system/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/CRUD-system.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , Bootstrap , HTML ,CSS
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/CRUD.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Register / Login System</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>login and Register system using native Javascript practicing validation , regular expression and local storge</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/login-system-project/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/login-system-project.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , Bootstrap , HTML ,CSS , Regex101
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/login-system.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Weather API</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p> simple weather app practicing how to deal with different APIs and realtime search</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://www.linkedin.com/posts/mohamed-kamash-57524b2a2_trusttheprocess-coding-html-activity-7149757580049915906-ntjJ?utm_source=share&utm_medium=member_desktop" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>

                </div>
                <div>
                  <p class="small">
                    Tools : geo location API , weather API , Javascript Native , CSS 
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/weather.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">The BookMarker</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>the bookmarker assignment, practical application on Regular expression and CRUD</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/BookMarker/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/BookMarker.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript , Bootstrap , HTML ,CSS , Regex101 , CRUD
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/bookmark.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Daniels UI Website</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>UI website protfolio as practical application on bootstrap5 , html and CSS</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/Daniel-BS-Exam/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/Daniel-BS-Exam.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Bootstrap , HTML ,CSS
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/daniles.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Random Quotes Generator</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>simple Javascript example practicing js functions</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/Random-Quotes-Project/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/Random-Quotes-Project.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : Javascript
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/randomQuotes.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Devfolio UI Website</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>practicing - bootstrap 5 , responsive screens , hover effects and keyframes animation</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/Devfolio-Assignment-Project/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/Devfolio-Assignment-Project.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : HTML , CSS KeyFrames , Bootstrap
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/Dev.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="p-0">
          <div class="pe-2 ps-2">
            <h4 class="h6">Mealify UI</h4>
            <figure class="position-relative overflow-hidden rounded-2 border border-3">
              <div id="caption" class="p-3 d-flex flex-column justify-content-between">
                <p>made with HTML5 & CSS3 Natively from scratch practicing :- hover ,keyframe ,CSS dark mode ,Animation , media screens and d-flex</p>
                <div
                  class="d-flex justify-content-center align-items-center gap-4"
                >
                  <div class="text-center">
                    <a href="https://mohamed-kamash.github.io/restaurant-project/" target="_blank">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      <p>Visit</p>
                    </a>
                  </div>
                  <div class="text-center">
                    <a href="https://github.com/Mohamed-Kamash/restaurant-project.git" target="_blank">
                      <i class="fa-brands fa-github"></i>
                      <p>Code</p>
                    </a>
                  </div>
                </div>
                <div>
                  <p class="small">
                    Tools : HTML , CSS native
                  </p>
                </div>
              </div>
              <img
                src="./assets/images/mealify.png"
                class="w-100 rounded-2"
              />
            </figure>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</section>
