<nav
  class="navbar navbar-expand fixed-top start-50 translate-middle-x w-50 shadow-lg rounded-bottom-4 d-flex justify-content-around align-content-center bg-body-tertiary z-1"
>
  <img src="./assets/images/L_02.png" width="35" alt="" />

  <ul class="navbar-nav">
    <li class="nav-item">
    <div class="pointer" [routerLink]="['/about']" routerLinkActive="active fa-beat" style="--fa-beat-scale: 1.1;">
        <i class="fa-solid fa-user"></i>
        <a class="nav-link">About</a>
      </div>
    </li>

    
    <li class="nav-item">
      <div
        class="pointer"
        [routerLink]="['/projects']"
        routerLinkActive="active fa-beat" style="--fa-beat-scale: 1.1;"
      >
        <i class="fa-solid fa-briefcase"></i>
        <a class="nav-link">Projects</a>
      </div>
    </li>

    <li class="nav-item">
      <div class="pointer" [routerLink]="['/resume']" routerLinkActive="active fa-beat" style="--fa-beat-scale: 1.1;">
        <i class="fa-solid fa-file"></i>
        <a class="nav-link">Resume</a>
      </div>
    </li>


  </ul>
</nav>
