/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 0px) and (max-width: 768px){
    body{
        overflow: auto!important;
    }  
}

.pointer{cursor: pointer;}


// General Styling
// Each Componenet Header Title
#tabHeader{
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(#ff0000, #c2c2c2);
    background-clip: text;
    color: transparent;
}
#tabHeader::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 250px;
    background-image: linear-gradient(to right, #ff6a6a, #ff9494, #ffbfbf, #ffbfbf, #ffe1e1);
    bottom: 0px;
    left:0px;
    border-radius: 5px;
}
